.reservation {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: #585858;
  color: #858585;
}

#calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.month {
  background: #fff;
  height: fit-content;
  min-height: 421px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

.monthName {
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff7626;
  color: white;
  padding: 10px 15px;
  font-size: 22px;
}

.month .prev,
.month .next {
  cursor: pointer;
  font-weight: bold;
}

.days,
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
  justify-items: stretch;
  align-items: left;
}

.day-name {
  gap: 5px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  color: #555;
  margin-bottom: 5px;
}

.day {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: #f9f9f9;
  color: #333;
  cursor: pointer;
}

.day:hover {
  background: #ff7626;
  color: white;
}

.pickedDate {
  background-color: #ff7626;
  color: white;
}

.pickedDate:hover {
  background-color: #aa4c15;
}
